html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #222;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 30px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 40px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.inset {
    padding: 0 20px 40px 20px;
}
 
@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 70px;
    }
    #wrapper.active {
        padding-left: 150px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 150px;
        width: 150px;
        transition: all .4s ease 0s;
    }
}

.sorting_1 {
    background-color: #cde !important;
}
.page-header {
    margin: 0;
}

.config-file-preview {
  display: inline-block;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 100%;
}



.form-group {
  margin-bottom: 24px;
}
.form-group .control-label {
  padding-top: 0;
  font: 700 14px/32px sans-serif;
  letter-spacing: .025em;
  color: #222;
}
input, textarea, .tagsinput {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  vertical-align: top;
  border: 1px solid #bbb;
  border-radius: 0;
  padding: 0 12px;
  background: #efefef;
  font: 400 14px/30px sans-serif;
  letter-spacing: .025em;
  color: #222;
  text-align: left;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
input[type="checkbox"] {
  width: auto;
}
input.has-error, textarea.has-error, .tagsinput.has-error {
  background: rgba(200,0,0,0.5);
}
input:focus, textarea:focus, .tagsinput:focus {
  background: #fff;
}

.select2.has-error {
  background: rgba(200,0,0,0.5);
}
textarea {
  height: auto;
  font: 400 14px/21px sans-serif;
  letter-spacing: .0em;
  padding: 12px 12px;
}
select {
  -webkit-appearance:none;
  -moz-appearance: none;
  -webkit-border-radius:0;
  outline:none;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  vertical-align: top;
  border: 1px solid #bbb;
  padding: 0 12px;
  background: #efefef;
  background-image: url('/img/icon-select-64x100.png');
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: 25px 16px;
  font: 400 14px/30px sans-serif;
  letter-spacing: .05em;
  color: #222;
  text-align: left;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
input[type="submit"], button[type="button"], button[type="submit"], .formButton {
  height: 40px;
  font: 700 14px/30px sans-serif;
  letter-spacing: .05em;
  padding: 0 18px;
  width: auto;
  border-radius: 0;
  border: 1px solid #222;
  background: #222;
  color: #efefef;
  cursor: pointer;
  text-align: center;
  /*text-transform: uppercase;*/
  margin: 0px auto 9px;
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
}
input[type="submit"]:hover, button[type="button"]:hover, button[type="submit"]:hover, .formButton:hover {
  border: 1px solid #bbb;
  background: #efefef;
  color: #222;
}
  
.form-section {
  font: 400 18px/24px sans-serif;
  margin: 24px 0 12px 0;
}
.form-small {
  font: 400 12px/16px sans-serif;
}
.errors {
  display: none;
  font: 700 12px/16px sans-serif;
  color: #a22;
  text-align: center;
  margin: 12px auto;
}
form.has-errors .errors{
  display: block;
}

form ::-webkit-input-placeholder {
  color: #bbb;
  letter-spacing: 0.05em;
}
form :-moz-placeholder {
  color: #bbb;
  letter-spacing: 0.05em;
}
form ::-moz-placeholder {
  color: #bbb;
  letter-spacing: 0.05em;
}
form :-ms-input-placeholder {
  color: #bbb;
  letter-spacing: 0.05em;
}
form .placeholdersjs {
  color: #bbb;
}


