
#magazineViewButtonContainer button span, #magazineViewButtonContainer .toolbarButton {
    width: auto;
    height: auto;
    margin-left: -50%;
}

#magazineContainer {
    padding-top: 10px;
    text-align: center;
    overflow: hidden;
}

#magazine {
    margin: 0 auto !important;
    text-align: center;
}

#magazine .page {
    cursor:pointer;
    background-color: #fff;
}

#magazine .page-wrapper{
    background: url(images/flipbook/loader.gif) center no-repeat #fff;
}

#magazineContainer .zoom-in .next-button,
#magazineContainer .zoom-in .previous-button {
    display: none;
}

#mainContainer {
    overflow: hidden;
}

.flipbook-toolbar{
    width: 100%;
    height: 30px;
    z-index: 15;
    padding-left: 45%;
    background:#ededed;
    position:absolute;
}


.flipbook-toolbar input{
    float:left;
    margin-top:5px;
    width:50px;
}

.flipbook-toolbar .next, .flipbook-toolbar .prev, .flipbook-toolbar .download {display: block;width:30px;height:30px;float:left;background-repeat: no-repeat;margin-top:8px;margin-left:10px}
.flipbook-toolbar .next{background-image: url(images/flipbook/alt-next.png)}
.flipbook-toolbar .prev {background-image: url(images/flipbook/alt-prev.png)}
.flipbook-toolbar .download {background-image: url(images/flipbook/download-png.png);margin-top:5px;}

.directions a{
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 45px;
    height: 45px;
    text-indent: -9999px;
    z-index: 9999;
}

.directions a.prev-button{
    left: 0;
    background: #f7f6f6 url(images/flipbook/alt-prev.png) no-repeat center center;
}


.directions a.next-button{
    right: 0;
    background: #f7f6f6 url(images/flipbook/alt-next.png) no-repeat center center;
}