// COLORS
$clr_black: #000000;
$clr_white: #ffffff;
$clr_grey1: #f8f8f8;
$clr_grey2: #e8e8e8;
$clr_grey3: #d8d8d8;
$clr_grey4: #c0c0c0;
$clr_grey5: #a8a8a8;
$clr_grey6: #888888;
$clr_grey7: #686868;
$clr_grey8: #484848;
$clr_grey9: #303030;

$clr_tr_w_10: rgba(255,255,255,0.1);
$clr_tr_w_20: rgba(255,255,255,0.2);
$clr_tr_w_30: rgba(255,255,255,0.3);
$clr_tr_w_40: rgba(255,255,255,0.4);
$clr_tr_w_50: rgba(255,255,255,0.5);
$clr_tr_w_60: rgba(255,255,255,0.6);
$clr_tr_w_70: rgba(255,255,255,0.7);
$clr_tr_w_80: rgba(255,255,255,0.8);
$clr_tr_w_90: rgba(255,255,255,0.9);

$clr_tr_b_10: rgba(0,0,0,0.1);
$clr_tr_b_20: rgba(0,0,0,0.2);
$clr_tr_b_30: rgba(0,0,0,0.3);
$clr_tr_b_40: rgba(0,0,0,0.4);
$clr_tr_b_50: rgba(0,0,0,0.5);
$clr_tr_b_60: rgba(0,0,0,0.6);
$clr_tr_b_70: rgba(0,0,0,0.7);
$clr_tr_b_80: rgba(0,0,0,0.8);
$clr_tr_b_90: rgba(0,0,0,0.9);

// BREAKPOINTS
$brk_desktop: 1200px;
$brk_tablet: 900px;
$brk_mobile_lg: 700px;
$brk_mobile: 600px;
$brk_small: 400px;
