/*----------------------------------------------------------------------------*/
/*	GENERAL
/*----------------------------------------------------------------------------*/
.tablet-lg-show {
	display: none;
	@media all and ( max-width: $brk_desktop ) {
		display: inline-block;
	}
}
.tablet-lg-hide {
	display: inline-block;
	@media all and ( max-width: $brk_desktop ) {
		display: none;
	}
}
.tablet-show {
	display: none;
	@media all and ( max-width: $brk_tablet ) {
		display: block;
	}
}
.tablet-hide {
	display: block;
	@media all and ( max-width: $brk_tablet ) {
		display: none;
	}
}
.mobile-show {
	display: none;
	@media all and ( max-width: $brk_mobile_lg ) {
		display: block;
	}
}
.mobile-hide {
	display: block;
	@media all and ( max-width: $brk_mobile_lg ) {
		display: none;
	}
}
.clearFix {
	clear: both;
}
svg{
	width:100%;
	height:100%;
}
img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $fnt_heading;
	color: $clr_pri1;
	text-transform: uppercase;
}
h1, h3, h4, h5 {
	text-transform: none;
}
h1 {
	font-size: 42px;
	line-height: 54px;
	margin-bottom: 18px;
}
.h1-like {
	font: 42px/54px $fnt_heading;
	color: $clr_pri1;
	margin-bottom: 18px;
}
h2 {
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 18px;
}
h3 {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 18px;
}
h4 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 12px;
}
h5 {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 12px;
}
h6 {
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 9px;
}
p {
	margin-bottom: 18px;
}
strong, b {
	font-weight: 700;
}
em, i {
	font-style: italic;
}
ol, ul {
	margin-left: 24px;
	margin-bottom: 18px;
	li {
		margin-bottom: 6px;
	}
}
ol {
	list-style: decimal;
	ol {
		list-style: lower-roman;
		ol {
			list-style: lower-alpha;
		}
	}
}
ul {
	list-style: square;
	ul {
		list-style: circle;
		ul {
			list-style: disc;

		}
	}
}
a {
	color: $clr_pri1;
	text-decoration: none;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	&:hover {
		color: $clr_pri2;
		text-decoration: underline;
	}
}
.center {
	text-align: center;
}
.col-50 {
	width: 50%;
	float: left;
	padding: 12px;
	@media all and ( max-width: $brk_mobile_lg ) {
		width: 100%;
		float: none;
	}
}
.link-button {
	display: inline-block;
	font: 400 16px/24px $fnt_body;
	padding: 9px 18px;
	background-color: $clr_pri1;
	color: $clr_white;
	margin: 0 auto 24px;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	&:hover {
		text-decoration: none;
		background-color: $clr_white;
		color: $clr_pri1;
	}
}
.highlight {
	color: $clr_pri1;
	text-shadow: 0 0 12px $clr_tr_b_50;
	letter-spacing: 0.05em;
}
.text-color {
	color: $clr_text;
}
.dim-color {
	color: $clr_border;
}
.white-color {
	color: $clr_white;
}
.fine {
	font: 400 12px/14px $fnt_body;
	letter-spacing: 0;
}
.text-color-em {
	color: $clr_text_em;
}
.text-color-em-imp {
	color: $clr_text_em !important;
}
.text-color-pri {
	color: $clr_pri1;
}
.text-color-pri-imp {
	color: $clr_pri1 !important;
}
