/*----------------------------------------------------------------------------*/
/*	FRAMEWORK
/*----------------------------------------------------------------------------*/
body {
	max-width: 100%;
	overflow-x: hidden;
	text-align: left;
	color: $clr_text;
	background-color: $clr_sitebg;
	font-family: $fnt_body;
	font-size: 15px;
	line-height: 21px;
	font-weight: 400;
	letter-spacing: 0.02em;
}
header {
	width: 100%;
	@media all and ( max-width: $brk_mobile_lg ) {
		position: fixed;
		top:0;
		z-index: 100;
	}
	.headerContainer {
		position: relative;
		max-width: $brk_desktop;
		margin: 0 auto;
		//overflow: hidden;
	}
}
footer {
	width: 100%;
	.footerContainer {
		position: relative;
		max-width: $brk_desktop;
		margin: 0 auto;
		overflow: hidden;
	}
}
main {
	width: 100%;
	position: relative;
	@media all and ( max-width: $brk_mobile_lg ) {
		padding-top: 110px;
	}
	.mainContainer {
		position: relative;
		max-width: $brk_desktop;
		margin: 0 auto;
		overflow: hidden;
	}
}


#change_bar, #cookie_bar {
	position: relative;
	max-width: $brk_desktop;
	margin: 0 auto;
	padding: 9px 42px;
	border: 2px solid $clr_border;
	background-color: $clr_tr_b_10;
	color: $clr_text;
	text-align: center;
	p {
		margin-bottom: 0;
	}
	a {
		-webkit-transition: all 200s ease;
		transition: all 200s ease;
		color: $clr_admin1;
		font-weight: 700;
		&:hover {
			color: $clr_admin2;
		}
	}
	span.pull-right {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 39px;
		width: 30px;
		cursor: pointer;
		i {
			line-height: 39px;
		}
	}
}
