/*----------------------------------------------------------------------------*/
/*	HEADER SECTION
/*----------------------------------------------------------------------------*/
.headerContainer {
	height: 160px;
	background-image: url($header_bg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	@media all and ( max-width: $brk_mobile_lg ) {
		height: 110px;
		&::after {
			//content: '';
			position: absolute;
			top:0;left:0;right:0;bottom:0;
			background-color: transparent;
		}
	}
}
#header-logo {
	position: absolute;
	top: 10px;
	left: 12px;
	right: 312px;
	height: 80px;
	cursor: pointer;
	z-index: 1;
	background-image: url($logo);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
	text-indent: -9999px;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	@media all and ( max-width: $brk_tablet ) {
		right: 232px;
	}
	@media all and ( max-width: $brk_mobile_lg ) {
		height: 60px;
		right: 72px;
		top: 0px;
	}
	@media all and ( max-width: $brk_mobile ) {
		background-image: url($logo_mobile);
	}
}
#header-nav {
	background-color: $clr_tr_b_60;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	-webkit-transition: right 200ms ease;
	transition: right 200ms ease;
	@media all and ( max-width: $brk_mobile_lg ) {
		display: none;
	}
	.menubutton {
		display: inline-block;
		cursor: pointer;
		font-size: 15px;
		line-height: 30px;
		letter-spacing: 0.05em;
		color: $clr_grey4;
		padding: 0 12px;
		position: relative;
		&:hover {
			color: $clr_white;
			text-decoration: underline;
		}
		&.current {
			color: $clr_white;
		}
	}
	div.menubutton {
		cursor: inherit;
		&:hover {
			text-decoration: none;
		}
	}

	.subMenuContainer {
		display: none;
		position: absolute;
		top: 30px;
		left: 50%;
		margin-left: -100px;
		width: 200px;
		padding: 10px;
		z-index: 100;
		background-color: $clr_tr_b_90;
		.submenubutton {
			display: block;
			cursor: pointer;
			font-size: 15px;
			line-height: 30px;
			letter-spacing: 0.05em;
			color: $clr_grey4;
			padding: 0 12px;
			position: relative;
			&:hover {
				color: $clr_white;
				text-decoration: underline;
			}
			&.current {
				color: $clr_white;
			}
		}
	}
	.menubutton.isParent:hover {
		.subMenuContainer {
			display: block;
		}
	}
}
#header-cta {
	top: 0px;
	right: 0px;
	position: absolute;
	width: 300px;
	padding: 10px;
	text-align: center;
	background-color: $clr_tr_w_40;
	display: block;
	cursor: pointer;
	@media all and ( max-width: $brk_tablet ) {
		width: 220px;
	}
	@media all and ( max-width: $brk_mobile_lg ) {
		top: auto;
		bottom: 0px;
		z-index: 2;
		left: 0;
		right: 0;
		width: 100%;
		height: 50px;
		box-shadow: 0px 6px 6px $clr_tr_b_20;
	}
	.cta-info {
		background: $clr_pri1;
		padding: 7px;
		color: $clr_btn_inv;
		font: 20px/24px $fnt_body;
		letter-spacing: .02em;
		margin-bottom: 7px;
		width: 100%;
		border: 1px solid $clr_pri1;
		-webkit-transition: all 200ms ease;
		transition: all 200ms ease;
		@media all and ( max-width: $brk_mobile_lg ) {
			display: inline-block;
			padding: 0;
			width: 50%;
			font: 20px/28px $fnt_body;
		}
		@media all and ( max-width: 400px ) {
			font: 18px/28px $fnt_body;
		}
	}
	.cta-action {
		display: block;
		background: $clr_btn_inv;
		color: $clr_pri1;
		font: 23px/23px $fnt_body;
		letter-spacing: .05em;
		padding: 7px;
		width: 100%;
		border: 1px solid $clr_pri1;
		-webkit-transition: all 200ms ease;
		transition: all 200ms ease;
		@media all and ( max-width: $brk_mobile_lg ) {
			display: inline-block;
			padding: 0;
			width: 50%;
			font: 20px/28px $fnt_body;
			letter-spacing: .03em;
		}
		@media all and ( max-width: 400px ) {
			font: 18px/28px $fnt_body;
		}
	}
	&:hover {
		text-decoration: none;
		.cta-info {
			background: $clr_btn_inv;
			color: $clr_pri1;
			text-decoration: none;
		}
		.cta-action {
			background: $clr_pri1;
			color: $clr_btn_inv;
			text-decoration: none;
		}
	}
}
