/*----------------------------------------------------------------------------*/
/*	LEFT-NAV
/*----------------------------------------------------------------------------*/
#catsMenu {
	margin-bottom: 24px;
	border-top: 1px solid $clr_border;
	border-right: 1px solid $clr_border;
	font-size: 13px;
	font-family: $fnt_heading;
	@media all and ( max-width: $brk_mobile_lg ) {
		display: none;
	}
	&.shown {
		@media all and ( max-width: $brk_mobile_lg ) {
			display: block;
		}
	}
	a {
		color: $clr_text;
		text-decoration: none;
		&:hover {
			color: $clr_text_em;
			text-decoration: none;
		}
	}
	.catItem {
		padding: 0 0px 0 34px;
		position: relative;
		line-height: 34px;
		background-color: $clr_tr_b_10;
		border-bottom: 1px solid $clr_border;
		border-left: 2px solid $clr_pri1;
		-webkit-transition: all 200ms ease;
		transition: all 200ms ease;
		&:hover {
			background-color: $clr_tr_w_10;
			border-left: 2px solid $clr_pri2;
		}
		&.hasChildren {
			cursor: pointer;
		}
		.catItemLinks a {
			display: block;
			width: 100%;
			line-height: 34px;
		}
		.subCatTrigger {
			position: absolute;
			top: 0;
			left: 0;
			height: 34px;
			width: 34px;
			text-align: center;
			color: $clr_text;
			font-weight: 700;
		}
		.catSubGroup {
			margin-left: -18px;
		}
	}
	&.no-nesting {
		.catItem {
			padding: 0 10px 0 10px;
			&:hover {
				padding: 0 10px 0 12px;
			}
		}
	}
}

#catsMenu .catItem.hasChildren .catSubGroup {
	display: none;
}
#catsMenu .catItem.shown.hasChildren > .catSubGroup {
	display: block;
}
#catsMenu .catItem.hasChildren .catItem {
	font-size: 12px;
	//padding-left: 40px;
}
#searchForm {
	@media all and ( max-width: $brk_mobile_lg ) {
		text-align: right;
	}
	input {
		display: inline-block;
		width: 184px;
		border: 1px solid $clr_pri1;
		@media all and ( max-width: $brk_desktop + 24 ) {
			width: 172px;
		}
		@media all and ( max-width: $brk_mobile_lg ) {
			width: auto;
		}
		@media all and ( max-width: 400px ) {
			width: 150px;
		}
	}
	button {
		display: inline-block;
		width: 40px;
		height: 40px;
		font: 400 16px/40px $fnt_body;
		letter-spacing: .05em;
		padding: 0 9px;
		border: 1px solid $clr_pri1;
		border-radius: none;
		background: $clr_pri1;
		color: $clr_btn_inv;
		cursor: pointer;
		text-align: center;
		text-transform: uppercase;
		-webkit-transition: all 200ms ease;
		transition: all 200ms ease;
		margin: 0px auto 9px;
		&:hover {
			//border: 1px solid $clr_white;
			background: $clr_btn_inv;
			color: $clr_pri1;
		}
	}
}
#mobile-filter-trigger {
	display: none;
	height: 40px;
	font: 400 16px/40px $fnt_body;
	letter-spacing: .05em;
	padding: 0 9px;
	border: 1px solid $clr_pri1;
	background: $clr_pri1;
	color: $clr_white;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	transition: all 200ms ease;
	margin: 0px auto 9px;
	@media all and ( max-width: $brk_mobile_lg ) {
		display: inline-block;
	}
}
