/*----------------------------------------------------------------------------*/
/*	RAIL ITEMS
/*----------------------------------------------------------------------------*/
.rail-post-600 {
	width: 300px;
	height: 600px;
	background-color: $clr_tr_b_10;
	margin-bottom: 24px;
}
.rail-post-250 {
	width: 300px;
	height: 250px;
	background-color: $clr_tr_b_10;
	margin-bottom: 24px;
}
.rail-post-cust {
	margin-bottom: 24px;
}


.rail-item-custom-wrap {
	margin-bottom: 24px;
}
.page-title-wrap .rail-item-custom-wrap {
	text-align: center;
	margin: 12px 24px 0 0;
	@media all and ( max-width: $brk_desktop + 24 ) {
		margin: 12px 12px 0 12px;
	}
}
#footer-posts .rail-item-custom-wrap {
	text-align: center;
	max-width: 728px;
	margin: 0 auto 12px;
}
.rail-item-custom {
	overflow: hidden;
	background: $clr_tr_b_10;
	border: 1px solid $clr_border;
	padding: 10px;
	.rail-item-custom-content {
		margin-bottom: 12px;
	}
	.rail-item-custom-button {
		display: inline-block;
		font-size: 14px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		font-weight: 700;
		padding: 6px 10px;
		background-color: $clr_pri1;
		color: $clr_btn_inv;
		text-decoration: none;
		-webkit-transition: all 200ms ease;
		transition: all 200ms ease;
		&:hover {
			background-color: $clr_btn_inv;
			color: $clr_pri1;
			text-decoration: none;
		}
		&.custom-button-left {
			float: right !important;
		}
		&.custom-button-right-top {
			float: left !important;
		}
		&.custom-button-right-middle {
			float: left !important;
		}
	}
}


.rail-post-advertisers {
	overflow: hidden;
	background: $clr_normal;
	border: 1px solid $clr_border;
	border-radius: 4px;
	.rail-advertisers-info {
		overflow: hidden;
		padding: 10px;
		border-bottom: 1px solid $clr_border;
	}
	.rail-advertisers-listing {
		max-height: 300px;
		overflow: auto;
		padding: 10px;
		border-bottom: 1px solid $clr_border;

	}
	.rail-advertisers-actions {
		padding: 10px;
		position: relative;
		&::before {
			// content: '';
			height: 20px;
			width: 100%;
			position: absolute;
			top: -22px;
			left: 0;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+0,f8f8f8+100&0+0,1+100 */
			background: -moz-linear-gradient(top, rgba(248,248,248,0) 0%, rgba(248,248,248,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(248,248,248,0) 0%,rgba(248,248,248,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(248,248,248,0) 0%,rgba(248,248,248,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f8f8', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
		}
	}
	.rail-advertisers-title {
		padding: 0 10px;
		text-align: center;
		font: 700 16px/20px $fnt_heading;
		color: $clr_text_em;
		margin-bottom: 5px;
	}
	.rail-advertisers-slogan {
		padding: 0 10px;
		text-align: center;
		font: 400 12px/15px $fnt_body;
		color: $clr_text;
		margin-bottom: 5px;
	}
	.rail-advertisers-pagelink {
		display: block;
		padding: 0 10px;
		height: 20px;
		padding-left: 10px;
		text-align: center;
		h6 {
			margin-bottom: 0;
			color: $clr_pri1;
			-webkit-transition: all 200ms ease;
			transition: all 200ms ease;
		}
		&:hover {
			h6 {
				color: $clr_pri2;
			}
		}
	}
	.rail-advertiser {
		display: block;
		padding: 10px 0;
		border-bottom: 1px solid $clr_border;
		min-height: 100px;
		text-align: center;
		color: $clr_text;
		&:hover {
			text-decoration: none;
			h6 {
				text-decoration: underline;
			}
		}
		.rail-advertiser-logo {
			float: right;
			height: 80px;
			width: 80px;
			border-radius: 3px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
		.rail-advertiser-name {
			padding-top: 10px;
			font-size: 16px;
			line-height: 18px;
			h6 {
				color: $clr_text;
			}
		}
		.rail-advertiser-slogan {
			font-size: 13px;
			line-height: 16px;
		}
		.rail-advertiser-phone {
			font-size: 13px;
			line-height: 16px;
		}
	}
	.rail-advertisers-action-pagelink {
		display: block;
		padding: 0 10px;
		line-height: 26px;
		text-align: center;
		h6 {
			margin-bottom: 0;
			color: $clr_pri1;
			-webkit-transition: all 200ms ease;
			transition: all 200ms ease;
		}
		&:hover {
			h6 {
				color: $clr_pri2;
			}
		}
	}
}
.rail-post-advertiser {
	max-height: 600px;
	overflow: hidden;
	background: $clr_feature;
	border: 2px solid $clr_pri1;
	border-radius: 4px;
	.rail-biz-info {
		position: relative;
		overflow: hidden;
		padding: 10px;
		border-bottom: 2px solid $clr_pri1;
		min-height: 100px;
	}
	.rail-biz-listings {
		max-height: 400px;
		overflow: auto;
		padding: 10px;
		border-bottom: 2px solid $clr_pri1;

	}
	.rail-biz-actions {
		padding: 10px;
		position: relative;
		&::before {
			// content: '';
			height: 20px;
			width: 100%;
			position: absolute;
			top: -22px;
			left: 0;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		}
	}
	.rail-biz-info-logo {
		position: absolute;
		width: 80px;
		height: 80px;
		top:10px;left:10px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.rail-biz-info-name {
		padding-left: 90px;
		text-align: center;
		font: 700 16px/20px $fnt_heading;
		color: $clr_text_em;
		margin-bottom: 5px;
	}
	.rail-biz-info-slogan {
		padding-left: 90px;
		min-height: 20px;
		text-align: center;
		font: 400 10px/13px $fnt_body;
		color: $clr_text;
		margin-bottom: 5px;
	}
	.rail-biz-info-pagelink {
		display: block;
		padding-left: 90px;
		text-align: center;
		h6 {
			margin-bottom: 0;
			color: $clr_pri1;
			-webkit-transition: all 200ms ease;
			transition: all 200ms ease;
		}
		&:hover {
			h6 {
				color: $clr_pri2;
			}
		}
	}
	.rail-biz-listing {
		display: block;
		padding: 10px 0;
		border-bottom: 1px solid $clr_border;
		min-height: 80px;
		text-align: left;
		color: $clr_text;
		&:hover {
			text-decoration: none;
			h6 {
				text-decoration: underline;
			}
		}
		.rail-biz-listing-image {
			float: right;
			height: 60px;
			width: 60px;
			border-radius: 3px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.rail-biz-listing-title {
			font-size: 16px;
			line-height: 18px;
			color: $clr_pri1;
			-webkit-transition: all 200ms ease;
			transition: all 200ms ease;
			&:hover {
				color: $clr_pri2;
			}
		}
		.rail-biz-listing-excerpt {
			font-size: 13px;
			line-height: 16px;
		}
	}
	.rail-biz-action-pagelink {
		display: block;
		height: 26px;
		line-height: 26px;
		text-align: center;
		h6 {
			color: $clr_pri1;
			-webkit-transition: all 200ms ease;
			transition: all 200ms ease;
		}
		&:hover {
			h6 {
				color: $clr_pri2;
			}
		}
	}
	.rail-biz-action-weblink {
		display: block;
		height: 26px;
		line-height: 26px;
		text-align: center;
		h6 {
			color: $clr_pri1;
			-webkit-transition: all 200ms ease;
			transition: all 200ms ease;
		}
		&:hover {
			h6 {
				color: $clr_pri2;
			}
		}
	}
	.rail-biz-action-phone {
		display: block;
		height: 26px;
		line-height: 26px;
		text-align: center;
		h6 {
			color: $clr_pri1;
			-webkit-transition: all 200ms ease;
			transition: all 200ms ease;
		}
		&:hover {
			h6 {
				color: $clr_pri2;
			}
		}
	}
}
.rail-posts-popular {
	background-color: transparent;
	border-radius: 0px;
	margin-bottom: 24px;
	.rail-pop-info {
		background-color: $clr_tr_b_10;
		border: 1px solid $clr_border;
		padding: 15px 10px;
		text-align: center;
	}
	.rail-pop-title {
		font: 700 16px/20px $fnt_heading;
		color: $clr_text_em;
	}
	.rail-pop-listings {
		width: 100%;
	}
	.rail-pop-listing {
		padding: 0 10px 0 10px;
		background-color: $clr_tr_b_10;
		border-bottom: 1px solid $clr_border;
		border-right: 1px solid $clr_border;
		border-left: 2px solid $clr_pri1;
		display: block;
		text-align: left;
		color: $clr_text;
		&:hover {
			padding: 0 10px 0 12px;
			background-color: $clr_tr_w_10;
			border-left: 2px solid $clr_pri2;
			text-decoration: none;
		}
		.rail-pop-listing-title {
			font: 14px/34px $fnt_heading;
		}
	}
}
.rail-maps-widget {
	background: $clr_tr_b_10;
	border: 1px solid $clr_border;
	border-radius: 0px;
	margin-bottom: 24px;
	.rail-map-info {
		padding: 15px 10px;
		border-bottom: 1px solid $clr_border;
		text-align: center;
	}
	.rail-map-title {
		font: 700 16px/20px $fnt_heading;
		color: $clr_text_em;
		margin-bottom: 5px;
	}
	.rail-map-graphic {
		height: 120px;
		width: 100%;
		border: 1px solid $clr_border;
		border-radius: 3px;
		box-shadow: inset 0px 0px 30px $clr_tr_b_20;
		background-image: url('/img/dora2.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.rail-map-listings {
		width: 100%;
		padding: 0 10px;
	}
	.rail-map-listing {
		display: block;
		padding: 0px 0;
		border-bottom: 1px solid $clr_border;
		text-align: center;
		color: $clr_text;
		&:last-of-type {
			border: none;
		}
		h6 {
			color: $clr_text;
			margin-bottom: 0;
		}
		&:hover {
			text-decoration: none;
			h6 {
				text-decoration: underline;
			}
		}
		.rail-map-listing-title {
			line-height: 36px;
		}
	}
}

