/*----------------------------------------------------------------------------*/
/*	DEFAULT LAYOUT
/*----------------------------------------------------------------------------*/
.left-content {
	padding-right: 312px;
	@media all and ( max-width: $brk_desktop + 24 ) {
		padding-right: 324px;
	}
	@media all and ( max-width: $brk_tablet ) {
		padding-right: 0;
	}
	.page-title {
		text-align: center;
		padding: 24px 12px;
		margin-right: 24px;
		border-bottom: 1px solid $clr_border;
		@media all and ( max-width: $brk_desktop + 24 ) {
			margin-right: 12px;
		}
		@media all and ( max-width: $brk_tablet ) {
			margin-right: 0px;
		}
		h1 {
			text-transform: uppercase;
			font-size: 36px;
			line-height: 54px;
			margin: 0;
		}
	}
	.content-wrap-wrap {
		position: relative;
	}
	.content-nav {
		width: 236px;
		position: absolute;
		top: 0px;
		left: 0px;
		padding: 12px 12px 24px 0;
		@media all and ( max-width: $brk_desktop + 24 ) {
			padding: 12px 12px 24px;
		}
		@media all and ( max-width: $brk_mobile_lg ) {
			position: relative;
			width: 100%;
			top: auto;
			left: auto;
		}
	}
	.content {
		padding: 12px 24px 24px 260px;
		@media all and ( max-width: $brk_desktop + 24 ) {
			padding: 12px 12px 24px 248px;
		}
		@media all and ( max-width: $brk_mobile_lg ) {
			padding: 12px 12px 24px;
			border-bottom: 1px solid $clr_border;
		}
	}
}
.right-content {
	position: absolute;
	top: 12px;
	right: 0px;
	width: 300px;
	@media all and ( max-width: $brk_desktop + 24 ) {
		right: 12px;
	}
	@media all and ( max-width: $brk_tablet ) {
		position: relative;
		width: 100%;
		top: auto;
		right: auto;
		padding: 12px;
	}
}
.detail-title {
	text-align: center;
	margin-bottom: 12px;
	h1 {
		text-transform: uppercase;
		font-size: 36px;
		line-height: 54px;
		margin: 0;
	}
}
.no-title-spacer {
	height: 24px;
}
