/*----------------------------------------------------------------------------*/
/*	PLACE AD LAYOUT
/*----------------------------------------------------------------------------*/
.template-place-ad .left-content {

	.page-title {
		border-bottom: none;
	}
	.content-nav {
		width: 100%;
		position: relative;
		top:auto;left:auto;right:auto;bottom:auto;
		padding: 12px 12px 0px 0px;
		@media all and ( max-width: $brk_desktop + 24 ) {
			//padding: 12px 12px 0px 12px;
		}
		@media all and ( max-width: $brk_tablet ) {
			padding: 12px 12px 0px;
		}
	}
	.content {
		padding: 12px 24px 24px 0px;
		@media all and ( max-width: $brk_desktop + 24 ) {
			padding: 12px 12px 24px 12px;
		}
		@media all and ( max-width: $brk_mobile_lg ) {
			padding: 12px 12px 24px;
		}
	}
}
.template-place-ad .right-content {

}
#placeAdMenu {
	border-bottom: 1px solid $clr_border;
	overflow: hidden;
	a.adMenu {
		display: inline-block;
		text-align: center;
		padding: 6px 12px;
		border-top: 1px solid $clr_border;
		border-right: 1px solid $clr_border;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		background-color: $clr_tr_b_10;
		box-shadow: 2px 2px 4px $clr_tr_b_20;
		font-weight: 700;
		@media all and ( max-width: $brk_mobile_lg ) {
			padding: 6px 18px;
		}
		@media all and ( max-width: 400px ) {
			padding: 6px 12px;
		}
		&:first-of-type {
			margin-left: 12px;
			border-left: 1px solid $clr_border;
			@media all and ( max-width: 400px ) {
				margin-left: 6px;
			}
		}
		&:hover {
			background-color: $clr_focus;
			text-decoration: none;
		}
		&.current {
			background-color: $clr_focus;
		}
	}
}
