/*----------------------------------------------------------------------------*/
/*	DASHBOARD LAYOUT
/*----------------------------------------------------------------------------*/
.template-dashboard .left-content {

	.page-title {
		border-bottom: none;
	}
	.content-nav {
		width: 100%;
		position: relative;
		top:auto;left:auto;right:auto;bottom:auto;
		padding: 12px 12px 0px 0px;
		@media all and ( max-width: $brk_desktop + 24 ) {
			//padding: 12px 12px 0px 12px;
		}
		@media all and ( max-width: $brk_tablet ) {
			padding: 12px 12px 0px;
		}
	}
	.content {
		padding: 12px 24px 24px 0px;
		@media all and ( max-width: $brk_desktop + 24 ) {
			padding: 12px 12px 24px 12px;
		}
		@media all and ( max-width: $brk_mobile_lg ) {
			padding: 12px 12px 24px;
		}
	}
}
.template-dashboard .right-content {

}
#dashboardMenu {
	border-bottom: 1px solid $clr_border;
	overflow: hidden;
	a.adMenu {
		display: inline-block;
		text-align: center;
		padding: 6px 12px;
		border-top: 1px solid $clr_border;
		border-right: 1px solid $clr_border;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		background-color: $clr_tr_b_10;
		box-shadow: 2px 2px 4px $clr_tr_b_20;
		font-weight: 700;
		@media all and ( max-width: $brk_mobile_lg ) {
			padding: 6px 18px;
		}
		@media all and ( max-width: 400px ) {
			padding: 6px 12px;
		}
		&:first-of-type {
			margin-left: 12px;
			border-left: 1px solid $clr_border;
			@media all and ( max-width: 400px ) {
				margin-left: 6px;
			}
		}
		&:hover {
			background-color: $clr_focus;
			text-decoration: none;
		}
		&.current {
			background-color: r$clr_focus;
		}
	}
}
.login-box {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}
.dashboard-main {
	max-width: 435px;
	margin: 0 auto;
	text-align: center;
	padding: 30px 15px;
	@media all and ( max-width: $brk_desktop + 24 ) {
		max-width: 35.53921vw;
		padding: 2.45098vw 0vw;
	}
	@media all and ( max-width: $brk_tablet ) {
		max-width: 320px;
		padding: 22px 0;
	}
	.dashboard-main-btn {
		display: inline-block;
		vertical-align: top;
		height: 116px;
		width: 170px;
		margin: 15px;
		padding: 15px;
		border: 2px solid $clr_pri1;
		border-radius: 4px;
		font: 18px/20px $fnt_heading;
		color: $clr_pri1;
		background-color: $clr_btn_inv;
		-webkit-transition: all 200ms ease;
		transition: all 200ms ease;
		@media all and ( max-width: $brk_desktop + 24 ) {
			height: 9.47712vw;
			width: 13.88888vw;
			margin: 1.22549vw;
			padding: 1.22549vw;
			font: 1.47058vw/1.63398vw $fnt_heading;
		}
		@media all and ( max-width: $brk_tablet ) {
			height: 85px;
			width: 125px;
			margin: 11px;
			padding: 11px;
			font: 13px/15px $fnt_heading;
		}
		&:hover {
			text-decoration: none;
			color: $clr_btn_inv;
			background-color: $clr_pri1;
		}
		i.fa {
			display: block;
			font-size: 50px;
			line-height: 50px;
			margin-bottom: 12px;
			@media all and ( max-width: $brk_desktop + 24 ) {
				font-size: 4.08497vw;
				line-height: 4.08497vw;
				margin-bottom: 0.98039vw;
			}
			@media all and ( max-width: $brk_tablet ) {
				font-size: 36px;
				line-height: 36px;
				margin-bottom: 9px;
			}
		}

	}
}
