/*----------------------------------------------------------------------------*/
/*	ADVERTISER LISTINGS LAYOUT
/*----------------------------------------------------------------------------*/
.template-advertiser-listings .titleContainer {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	.title-content {
		padding-right: 312px;
		border-bottom: 1px solid $clr_border;
		@media all and ( max-width: $brk_tablet ) {
			padding-right: 0px;
		}
		.page-title.page-title-advertiser {
			padding: 18px 24px;
			.pta-logo {
				display: inline-block;
				vertical-align: top;
				width: 33.333%;
				height: 190px;
				background-position: right center;
				background-repeat: no-repeat;
				background-size: contain;
			}
			.pta-info-wrap {
				display: inline-block;
				vertical-align: top;
				width: 66.666%;
				text-align: left;
				padding-left: 24px;
				h1 {
					text-transform: none;
					color: $clr_text_em;
					margin-bottom: 0;
				}
				.pta-info-slogan {
					font-family: $fnt_heading
				}
				.pta-info-weblink {
					font-size: 14px;
					letter-spacing: 0.03em;
					text-transform: uppercase;
					font-weight: 700;
				}
				.pta-info-phone, .pta-info-social {
					font-size: 14px;
					letter-spacing: 0.03em;
					text-transform: uppercase;
					font-weight: 700;
				}
				.pta-info-blerb {
					font-size: 13px;
					line-height: 20px;
					padding-top: 12px;
				}
			}
		}
		.page-map-wrap {
			@media all and ( max-width: $brk_tablet ) {
				padding: 12px;
			}
		}
		.page-map {
			position: absolute;
			top: 18px;
			right: 0px;
			width: 300px;
			min-height: 190px;
			background-color: $clr_tr_b_10;
			height: 228px;
			border: 1px solid $clr_pri1;
			border-radius: 0px;
			overflow: hidden;
			@media all and ( max-width: $brk_tablet ) {
				position: relative;
				top: auto; right: auto;
				width: 100%;
			}
			.page-map-address {
				position: absolute;
				top:0;
				left:0;
				width: 100%;
				line-height: 20px;
				padding: 2px 6px;
				text-align: center;
				color: $clr_pri1;
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 700;
				text-shadow: 0px 0px 9px $clr_theme_tr;
				background-color: $clr_theme_tr;
			}

		}
	}
}
#advertisersMap {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.template-advertiser-listings .left-content {
	.content-nav {
		display: none;
	}
	.content {
		padding: 12px 24px 24px 0px;
		@media all and ( max-width: $brk_desktop + 24 ) {
			padding: 12px 12px 24px 12px;
		}
		@media all and ( max-width: $brk_mobile_lg ) {
			padding: 12px 12px 24px;
		}
	}
}
.template-advertiser-listings .right-content {

}
.template-advertiser-listings .posts-wrap {
	.classPost {
		padding: 18px 24px;
		.postMainWrap.withImg {
			min-height: 144px;
			padding: 0 168px 0 0;
			.classPostImg {
				width: 144px;
				height: 144px;
			}
		}
		.classPostMore {
			font-weight: 700;
		}
	}
	@media all and ( max-width: $brk_mobile_lg ) {
		.classPost {
			padding: 6px 12px;
			.postMainWrap.withImg {
				min-height: 100px;
				padding: 0 112px 0 0;
				.classPostImg {
					width: 100px;
					height: 100px;
				}
			}
		}
	}
}

#alvertwiser-switch {

	ul.alvertwiser-switch-nav {
		display: block;
		text-align: center;
		list-style: none;
		li {
			font: 21px/27px $fnt_heading;
			display: inline-block;
			vertical-align: top;
			&::after {
				content: ' | ';
			}
			&:last-of-type::after {
				content: none;
			}
			a {
				text-transform: uppercase;
				font: 21px/27px $fnt_heading;
				display: inline-block;
				padding: 6px 12px;
				&:fhover {
					color: $clr_pri2;
					text-decoration: none;
				}
				&.active {
					color: $clr_pri2;
					text-decoration: none;
				}
				&:focus {
					color: $clr_pri2;
					text-decoration: none;
				}
			}
		}
	}
	#alvertwiser_listing {
		display: none;
	}
	#alvertwiser_display {
		display: none;
	}
	&.showList {
		#alvertwiser_listing {
			display: block;
		}
	}
	&.showDisp {
		#alvertwiser_display {
			display: block;
		}
	}
}
.grid {
	text-align: center;
	margin: 0 auto;
}
.grid-item { 
	padding: 10px;
	width: 200px;
	&:focus {
		outline: none;
	}
}
