/*----------------------------------------------------------------------------*/
/*	ADVERTISER DETAILS LAYOUT
/*----------------------------------------------------------------------------*/
.template-advertiser-details .left-content {

	.page-title {

	}
	.content-nav {

	}
	.content {

	}
}
.right-content {

}
.template-advertiser-details .search-form {
	margin-bottom: 24px;
}
#noCatsMenu {
	text-align: right;
	a.nav-link {
		display: block;
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		font-weight: 700;
	}
}
