/*----------------------------------------------------------------------------*/
/*	ARTICLES LAYOUT
/*----------------------------------------------------------------------------*/
.template-article-details .left-content {

	.article-title {
		text-align: center;
		padding: 60px 12px 0;
		margin-right: 24px;
		//border-bottom: 1px solid $clr_grey4;
		@media all and ( max-width: $brk_desktop + 24 ) {
			margin-right: 12px;
		}
		@media all and ( max-width: $brk_tablet ) {
			margin-right: 0px;
		}
		h1 {
			text-transform: uppercase;
			font-size: 36px;
			line-height: 54px;
			margin: 0;
		}
	}
	.page-title {
		text-align: center;
		padding: 24px 12px;
		margin-right: 24px;
		border-bottom: 1px solid $clr_border;
		@media all and ( max-width: $brk_desktop + 24 ) {
			margin-right: 12px;
		}
		@media all and ( max-width: $brk_tablet ) {
			margin-right: 0px;
		}
		h1 {
			text-transform: uppercase;
			font-size: 36px;
			line-height: 54px;
			margin: 0;
		}
	}
	.content-nav {

	}
	.content {
		padding: 12px 24px 24px 0px;
		@media all and ( max-width: $brk_desktop + 24 ) {
			padding: 12px 12px 24px 12px;
		}
		@media all and ( max-width: $brk_mobile_lg ) {
			padding: 12px 12px 24px;
		}
		// .classPost {
		// 	padding-bottom: 24px;
		// 	border-bottom: 1px solid $clr_border;
		// 	margin-bottom: 24px;
		// }
	}
}
.right-content {

}
