/*----------------------------------------------------------------------------*/
/*	CONTENT
/*----------------------------------------------------------------------------*/
.classPost {
	font-size: 14px;
	line-height: 18px;
	font-size: 14px;
	line-height: 18px;
	border: 1px solid $clr_border;
	padding: 6px 12px;
	border-radius: 3px;
	margin-bottom: 12px;
	background-color: $clr_normal;
	position: relative;
	&.is-featured {
		border-radius: 4px;
		border: 2px solid $clr_pri1;
		background-color: $clr_feature;
	}
	&.isFeatured {
		border-radius: 4px;
		border: 2px solid $clr_pri1;
		background-color: $clr_feature;
	}
	.classPostMore {
		font-weight: 700;
	}
}
.template-article-details .classPost {
	padding: 21px 15px;
	background-color: $clr_feature;
}
.postMainWrap {
	padding: 0;
	&.withImg {
		padding: 0 112px 0 0;
		position: relative;
		min-height: 100px;
	}
}
.classPostDates {
	font-size: 10px;
	line-height: 18px;
	text-align: right;
	padding-left: 50px;
}
.classPostCats {
	font-size: 10px;
	line-height: 18px;
	text-align: right;
	padding-left: 50px;
}
.classPostImg {
	position: absolute;
	top: 0;
	right: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100px;
	height: 100px;
	border-radius: 3px;
	&.attnGtr {
		background-size: contain;
	}
}
.classPostText {

}
.classPostToolbar {
	width: 100%;
	padding: 9px 0 6px;
	text-align: center;
	a {
		font-size: 13px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		font-weight: 700;
		&.admin-tool-link {
			color: $clr_admin1;
			&:hover {
				color: $clr_admin2;
			}
		}
	}
}
.map-wrap {
	padding-bottom: 24px;
	border-bottom: 2px solid $clr_pri1;
	margin-bottom: 24px;
}
#map_extended {
	height: 400px;
	width: 100%;
	border: 1px solid $clr_border;
	border-radius: 3px;
}
.mapTag {
	position: absolute;
	top: 12px;
	left: 12px;
	color: $clr_text;
	&.mapTagNotShown {
		font-weight: 300;
		font-size: 16px;
	}
}


.post-detail-wrap {
	font-size: 15px;
	.post-meta {
		text-align: right;
		font-size: 13px;
		line-height: 21px;
		margin-bottom: 12px;
	}
	.post-images {
		margin-bottom: 24px;
	}
	.post-text {
		margin-top: 24px;
		margin-bottom: 24px;
		h2, h3, h4, h5, h6 {
			font-family: $fnt_body!important;
			font-size: 24px!important;
			line-height: 30px!important;
			margin-bottom: 12px!important;
			text-transform: uppercase!important;
			span {
				font-family: $fnt_heading!important;
				font-size: 24px!important;
				line-height: 30px!important;
				margin-bottom: 12px!important;
				text-transform: uppercase!important;
			}
		}
		.post-text-attn-gtr {
			height: 100px;
			width: 100px;
			margin-right: 12px;
			margin-bottom: 12px;
			float: left;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
	.post-details {
		font-size: 13px;
		.detail-label {
			font-weight: 700;
		}
	}
	.post-actions {
		width: 100%;
		padding: 9px 0 6px;
		text-align: center;
		a {
			font-size: 13px;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
}
.post-images {
	.slider_for {
		background-color: transparent;
		position:relative;
		.slide_img_wrap {
			height: 400px;
			.slide_img {
				outline: none;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				top:0;left:0;right:0;bottom:0;
			}

		}
	}
	.slider_nav {
		background-color: $clr_black;
		position:relative;
		.thumb_img_wrap {
			position:relative;
			height:80px;
			.thumb_img {
				background-position:center;
				background-repeat:no-repeat;
				background-size:cover;
				position:absolute;
				top:0;left:0;right:0;bottom:0;
			}
		}
	}
	.thumb_img {
		-webkit-transition: all 200ms ease;
		transition: all 200ms ease;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
	.slick-current .thumb_img {
		opacity: 1;
	}
	.slick-list {
		margin: 0;
	}
	.slick-prev, .slick-next {
		cursor: pointer;
		background-color: $clr_feature;
		height: 80px;
		width: 40px;
		border-radius: 0%;
		position: absolute;
		top: 50%;
		text-indent: -9999px;
		border: none;
		z-index: 20;
		&.slick-disabled {
			opacity: 0.7;
			cursor: auto;
		}
		&::after {
			font: 400 24px/20px $fnt_body;
			color: $clr_white;
			position: absolute;
			top: 53%;
			text-indent: 0;
			-webkit-transform: translateY(-50%);
			   -moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
					transform: translateY(-50%);
		}
		@media all and ( max-width: $brk_desktop ) {
			height: 6vw;
			width: 6vw;
			&::after {
				font: 400 2vw/1.66666vw $fnt_body;
			}
		}
		@media all and ( max-width: $brk_tablet ) {
			height: 54px;
			width: 54px;
			&:after {
				font: 400 18px/15px $fnt_body;
			}
		}
	}
	.slick-prev {
		left: 20px;
		-webkit-transform: translateX(-50%) translateY(-50%);
		   -moz-transform: translateX(-50%) translateY(-50%);
			-ms-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
		&::after {
			content: '–';
			right: 15px;
			@media all and ( max-width: $brk_desktop ) {
				right: 1.25vw;
			}
		}
	}
	.slick-next {
		right: 20px;
		-webkit-transform: translateX(+50%) translateY(-50%);
		   -moz-transform: translateX(+50%) translateY(-50%);
			-ms-transform: translateX(+50%) translateY(-50%);
				transform: translateX(+50%) translateY(-50%);
		&::after {
			content: '+';
			left: 15px;
			@media all and ( max-width: $brk_desktop ) {
				left: 1.25vw;
			}
		}
	}
}
.post-map-static {
	margin-bottom: 24px;
	img {
		border: 1px solid $clr_border;
	}
}


.classAdvertiser {
	font-size: 14px;
	line-height: 18px;
	border: 1px solid $clr_border;
	padding: 12px 12px;
	border-radius: 3px;
	margin-bottom: 12px;
	background-color: $clr_normal;
	position: relative;
	&.isFeatured {
		border-radius: 4px;
		border: 2px solid $clr_pri1;
		background-color: $clr_feature;
	}
	.advertiserMainWrap {
		padding: 0;
		&.withImg {
			padding: 0 112px 0 0;
			position: relative;
			min-height: 100px;
		}
		.advertiserImg {
			position: absolute;
			top: 0;
			right: 0;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 100px;
			height: 100px;
			border-radius: 3px;
		}
		.advertiserTitleLinks {

			h5 {
				margin-bottom: 0;
				display: inline-block;
				a {

				}
			}
		}
		.advertiserSlogan {
			font-family: $fnt_heading;
			margin-bottom: 9px;
		}
		.advertiserExcerpt {
			font-size: 13px;
			.advertiserMore {
				font-weight: 700;
			}
		}
	}
}


#previewListing {
	position: relative;
	display: block;
	visibility: hidden;
	opacity: 0;
	height: 0;
	width: 0;
	&.shown {
		visibility: visible;
		opacity: 1;
		height: auto;
		width: auto;
	}
	#toggleTriggerPL {
		position: absolute;
		top: -6px;
		left: 12px;
		font: 18px/21px $fnt_heading;
		color: $clr_admin1;
		z-index: 20;
		cursor: pointer;
		background-color: $clr_btn_inv;
		border: 1px solid $clr_admin1;
		padding: 6px;
		display: inline-block;
		-webkit-transition: all 200ms ease;
		transition: all 200ms ease;
		&:hover {
			color: $clr_admin2;
			text-decoration: underline;
		}
	}
}
#previewDetail {
	position: relative;
	display: block;
	visibility: hidden;
	opacity: 0;
	height: 0;
	width: 0;
	&.shown {
		visibility: visible;
		opacity: 1;
		height: auto;
		width: auto;
	}
	#toggleTriggerPD {
		position: absolute;
		top: -6px;
		left: 12px;
		font: 18px/21px $fnt_heading;
		color: $clr_admin1;
		z-index: 20;
		cursor: pointer;
		background-color: $clr_btn_inv;
		border: 1px solid $clr_admin1;
		padding: 6px;
		display: inline-block;
		-webkit-transition: all 200ms ease;
		transition: all 200ms ease;
		&:hover {
			color: $clr_admin2;
			text-decoration: underline;
		}
	}
}
#previewPaperWrap {
	padding: 0 24px;
	background-color: #efefef; // hardcoded color
	color: #222222; // hardcoded color
}
#previewPaper {
	padding: 24px 6px;
	border-left: 1px solid #cccccc; // hardcoded color
	border-right: 1px solid #cccccc; // hardcoded color
	.printPreview-wrap {
		padding: 6px 5px;
		.printImg {
			width: 100%;
		}
		.printTitle {
			text-align: center;
			text-transform: uppercase;
			display: block;
		}
		.printText {
			text-align: justify;
		}
	}
}
#adSummaryTable {
	tr:last-of-type {
		color: $clr_text_em;
		font-weight: 700;
	}
}
.page-title-wrap .fc-wrapper {
	margin: 12px 24px 0 0;
	@media all and ( max-width: $brk_desktop + 24 ) {
		margin: 12px 12px 0 12px;
	}
}
.content-wrap .fc-wrapper {
	margin: 24px 0;
}
.fc-wrapper {
	background-color: $clr_normal;
	border: 1px solid $clr_border;
	border-radius: 0;
	.fc-container {
		padding: 12px 0px;
		margin: 0 auto;
		text-align: left;
		position: relative;
		overflow: hidden;
		.fc-item {
			outline: none;
			display: block;
			padding: 0px 12px;
			width: 126px;
			text-align: center;
			border-left: 1px solid $clr_border;
			text-decoration: none;
			&:focus {
				outline: none;
			}
			&:hover {
				outline: none;
			}
			&:last-of-type {
				border-right: 1px solid $clr_border;
			}

			.fc-item-heading {
				font: 14px/16px $fnt_heading;
				color: $clr_pri1;
				text-align: left;
				margin-bottom: 3px;
				-webkit-transition: all 200ms ease;
				transition: all 200ms ease;
			}
			.fc-item-desc {
				font: 10px/14px $fnt_body;
				color: $clr_text;
				text-align: left;
				margin-bottom: 6px;
				-webkit-transition: all 200ms ease;
				transition: all 200ms ease;
				p {
					font: 10px/14px $fnt_body;
					color: $clr_text;
					text-align: left;
					margin-bottom: 0;
					-webkit-transition: all 200ms ease;
					transition: all 200ms ease;
				}
			}
			.fc-item-img-wrap {
				position: relative;
				height: 72px;
				width: 100px;
				overflow: hidden;
				.fc-item-img {
					position: absolute;
					top:0;left:0;right:0;bottom:0;
					background-color: transparent;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					-webkit-transition: all 200ms ease;
					transition: all 200ms ease;
				}
			}
			&:hover {
				.fc-item-img {
					top:-6px;left:-6px;right:-6px;bottom:-6px;
				}
				.fc-item-heading {
					color: $clr_text_em;
					text-decoration: underline;
				}
			}
		}
	}
}


.pagination>li>a, .pagination>li>span {
	color: $clr_pri1;
	background-color: $clr_sitebg;
	border: 1px solid $clr_border;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	color: $clr_sitebg;
	background-color: $clr_pri1;
	border-color: $clr_pri1;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	color: $clr_btn_inv;
	background-color: $clr_pri1;
	border-color: $clr_pri1;
}


.puLocations-wrap {
	ul.puLocations {
		list-style: none;
		margin: 0;
		padding: 0;
		-moz-column-count: 2;
		-moz-column-gap: 12px;
		-webkit-column-count: 2;
		-webkit-column-gap: 12px;
		column-count: 2;
		column-gap: 12px;
		li.puLocation {
			padding: 6px 0px;
			a.locLink {
				font: 400 14px/18px $fnt_body;
				-webkit-transition: all 200ms ease;
				transition: all 200ms ease;
				text-decoration: none;
				color: $clr_text;
				&:hover {
					text-decoration: underline;
					color: $clr_pri1;
				}
				.locName {
					font: 700 14px/18px $fnt_body;
				}
				.locPoint {
					font: 400 12px/18px $fnt_body;
					font-style: italic;
				}
				.locAddr {
					font: 400 13px/18px $fnt_body;
				}
			}
		}
	}
}


#packages {
	text-align: center;
	.package {
		display: inline-block;
		vertical-align: top;
		max-width: 210px;
		width: 31.333%;
		color: $clr_grey4;
		background-color: $clr_grey1;
		border: 2px solid $clr_border;
		border-radius: 4px;
		padding: 12px;
		margin: 2% 1%;
		cursor: pointer;
		-webkit-transition: all 200ms ease;
		transition: all 200ms ease;
		@media all and ( max-width: 1160px ) {
			width: 48%;
		}
		@media all and ( max-width: 960px ) {
			width: 98%;
		}
		@media all and ( max-width: 900px ) {
			width: 31.333%;
		}
		@media all and ( max-width: 860px ) {
			width: 48%;
		}
		@media all and ( max-width: 400px ) {
			width: 98%;
		}
		&.unSelected {
			border: 2px solid $clr_pri1;
			color: $clr_grey7;
			background-color: $clr_white;
			.package-name {
				color: $clr_pri1;
			}
		}
		&.selectedPackage {
			box-shadow: 0 0 24px #0f5;
			background-color: $clr_white;
			color: $clr_grey9;
			border: 2px solid $clr_pri1;
			.package-name {
				color: $clr_pri1;
			}
		}
		.package-graphic-wrap {
			width: 100%;
			height: 120px;
			position: relative;
			margin-bottom: 6px;
			.package-graphic {
				position: absolute;
				top:0;left:0;right:0;bottom:0;
				background-position: center bottom;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
		.package-name {
			color: $clr_grey4;
			font: 16px/21px $fnt_heading;
			text-align: center;
			min-height: 42px;
		}
		.package-desc-wrap {
			margin-bottom: 6px;
			.package-desc-trigger {
				font: 11px/15px $fnt_body;
				cursor: pointer;
				text-decoration: underline;
				text-align: center;
			}
			.package-description {
				font: 11px/15px $fnt_body;
				height: 0;
				overflow: hidden;
			}
			&.shown {
				.package-description {
					height: auto;
				}
			}
		}
		ul.package-list {
			font: 13px/15px $fnt_body;
			margin-left: 16px;
			margin-bottom: 0;
			text-align: left;
			li {
				margin-bottom: 6px;
			}
		}
	}
}

.template-place-ad {
	#postImages {
		border:2px solid $clr_border;
		margin-top:10px;
		padding-top:10px;
		min-height: 100px;
	}

}
#imageUploaderWrap {
	height: 0;
	overflow: hidden;
	padding: 0;
	&.shown {
		height: auto;
		padding: 30px 0;
	}
}
#attentionGetterWrap {
	height: 0;
	overflow: hidden;
	padding: 0;
	#setAttnGtr {

		.attnGtrs {
			text-align: center;
		}
		.attnGtr {
			display: inline-block;
			vertical-align: top;
			width: 100px;
			height: 100px;
			margin: 6px;
			border: 1px solid $clr_border;
			border-radius: 3px;
			background-color: $clr_white;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			cursor: pointer;
			&.attnGtrClear {
				font: 14px/18px $fnt_body;
				color: $clr_grey5;
			}
			&.selected {
				box-shadow: 0 0 24px #0f5;
			}
		}
	}
	&.shown {
		height: auto;
		padding: 30px 0;
	}
}

#adWordCount {
	.busted {
		color: #d00;
	}
	.bustedText {
		font-size: 12px;
		color: #d00;
	}
}

.started-ads-table {
	th {
		text-align: center;
		font-weight: 700;
	}
	i.fa {
		cursor: pointer;
	}
}

.img-attn-choice-radios {
	label {
		display: block;
		margin-left: 30px;
		margin-bottom: 6px;
		input {
			margin-left: -17px;
		}
	}
}

.cropper img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.uploadedBox {
	font-weight: 700;
}

#ad_categories_error {
	display: none;
	color: #d00;
	&.shown {
		display: block;
	}
}
.bootstrap-datetimepicker-widget {
	background-color: $clr_sitebg !important;
	.datepicker th {
		&:hover {
			background-color: $clr_btn_inv !important;
		}
	}
	.datepicker td {
		&:hover {
			background-color: $clr_btn_inv !important;
		}
	}
}
#totalRunDays {
	color: $clr_pri1;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
}



