// Saved for reference. This file will be auto generated via some function.

//THEME FONTS
$fnt_heading: Oswald, sans-serif;
$fnt_body: Open Sans, sans-serif;

//THEME COLORS
// lt theme - hardcoded
$clr_text_em: #000;
$clr_border: #aaa;
$clr_focus: rgba(255,255,255,1);
$clr_feature: rgba(255,255,255,0.8);
$clr_normal: rgba(255,255,255,0.2);
$clr_btn_inv: #fff;
$clr_admin_H: 211;
$clr_admin_S: 89;
$clr_admin_L: 33;
$clr_admin_D: $clr_admin_L * 0.66;
$clr_admin1: hsl( $clr_admin_H, $clr_admin_S, $clr_admin_L ); // admin color
$clr_admin2: hsl( $clr_admin_H, $clr_admin_S, $clr_admin_D ); // darker version of admin color
// lt theme - overwritable by user
$clr_sitebg: #f8f8f8;
$clr_text: #222;

// dk theme - hardcoded
$clr_text_em: #fff;
$clr_border: #888;
$clr_focus: rgba(0,0,0,0.3);
$clr_feature: rgba(0,0,0,0.2);
$clr_normal: rgba(0,0,0,0.1);
$clr_btn_inv: #222;
$clr_admin_H: 211;
$clr_admin_S: 89;
$clr_admin_L: 66;
$clr_admin_D: $clr_admin_L * 0.66;
$clr_admin1: hsl( $clr_admin_H, $clr_admin_S, $clr_admin_L ); // admin color
$clr_admin2: hsl( $clr_admin_H, $clr_admin_S, $clr_admin_D ); // darker version of admin color
// dk theme - overwritable by user
$clr_sitebg: #444a50;
$clr_text: #e0e0e0;

// theme highlight color - chosen by user
$clr_pri_H: 43;
$clr_pri_S: 92;
$clr_pri_L: 57;
$clr_pri_D: $clr_pri_L * 0.66;
$clr_pri1: hsl( $clr_pri_H, $clr_pri_S, $clr_pri_L ); // main color
$clr_pri2: hsl( $clr_pri_H, $clr_pri_S, $clr_pri_D ); // darker version of main color


//SITE IMAGES
$logo: '/img/logo-lagrande.png';
$logo_mobile: '/img/logo-lagrande-mobile.png';
$header_bg: '/img/hero-klamath-lake.jpg';