/*----------------------------------------------------------------------------*/
/*	FOOTER SECTION
/*----------------------------------------------------------------------------*/
footer {
	text-align: center;
}
#footer-posts {
	padding: 12px 12px 0;
	.footer-post {
		height: 90px;
		width: 100%;
		max-width: 728px;
		background-color: rgba(0,0,0,0.1);
		margin: 0 auto 12px;
	}
}
#footer-nav {
	padding: 12px;
	.menubutton {
		display: inline-block;
		cursor: pointer;
		font-size: 14px;
		font-weight: 700;
		line-height: 21px;
		letter-spacing: 0.05em;
		color: $clr_pri1;
		padding: 0 12px;
		border-right: 1px solid $clr_pri2;
		@media all and ( max-width: $brk_mobile ) {
			display: block;
			border-right: none;
		}
		&:hover {
			color: $clr_pri2;
			text-decoration: underline;
		}
		&.current {
			color: $clr_pri2;
		}
		&:last-of-type {
			border-right: none;
		}
	}
}
#footer-legal {
	font-size: 10px;
	line-height: 14px;
	padding: 8px 12px;
}

#footer {

	.footer-logo {
		display: block;
		width: 100%;
		height: auto;
		max-width: 300px;
		margin: 0 auto;
	}
	.top-return {
		position: absolute;
		bottom: 50px;
		right: 50px;
		font-size: 20px;
		@media all and ( max-width: $brk_mobile ) {
			bottom: 10px;
			right: 10px;
		}
	}
}
