/*----------------------------------------------------------------------------*/
/*	FORMS
/*----------------------------------------------------------------------------*/
form {
	text-align: left;
	legend {
		margin-bottom: 12px;
	}
	input, textarea, .tagsinput {
		width: 100%;
		height: 40px;
		box-sizing: border-box;
		vertical-align: top;
		border: 1px solid $clr_pri1;
		border-radius: 0;
		padding: 0 12px;
		background: $clr_tr_b_10;
		font: 700 16px/40px $fnt_body;
		letter-spacing: .025em;
		color: $clr_pri1;
		text-align: left;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
		margin-bottom: 9px;
		&.has-error {
			background: rgba(200,0,0,0.5);
		}
		&:focus {
			background: $clr_focus;
		}
	}
	.select2.has-error {
		background: rgba(200,0,0,0.5);
	}
	textarea {
		height: auto;
		font: 700 16px/21px $fnt_body;
		letter-spacing: .0em;
		padding: 12px 12px;
	}
	select {
		width: 100%;
		height: 40px;
		box-sizing: border-box;
		vertical-align: top;
		border: 1px solid $clr_pri1;
		padding: 0 12px;
		background: $clr_tr_b_10;
		background-image: url('/img/icon-select-64x100.png');
		background-position: 100% center;
		background-repeat: no-repeat;
		background-size: 25px 16px;
		font: 400 16px/21px $fnt_body;
		letter-spacing: .05em;
		color: $clr_pri1;
		text-align: left;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
	}
	input[type="submit"], button[type="button"], button[type="submit"], .formButton {
		height: 40px;
		font: 400 16px/40px $fnt_body;
		letter-spacing: .05em;
		padding: 0 18px;
		width: auto;
		border-radius: 0;
		border: 1px solid $clr_pri1;
		background: $clr_pri1;
		color: $clr_btn_inv;
		cursor: pointer;
		text-align: center;
		text-transform: uppercase;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
		margin: 0px auto 9px;
		&:hover {
			//border: 1px solid $clr_white;
			background: $clr_btn_inv;
			color: $clr_pri1;
		}
	}
	
	.form-section {
		font: 400 18px/24px $fnt_heading;
		margin: 24px 0 12px 0;
	}
	.form-small {
		font: 400 12px/16px $fnt_body;
	}
	.errors {
		display: none;
		font: 700 12px/16px $fnt_body;
		color: #a22;
		text-align: center;
		margin: 12px auto;
	}
	&.has-errors {
		.errors {
			display: block;
		}
	}
}
form ::-webkit-input-placeholder {
	color: $clr_border;
	letter-spacing: 0.05em;
}
form :-moz-placeholder {
	color: $clr_border;
	letter-spacing: 0.05em;
}
form ::-moz-placeholder {
	color: $clr_border;
	letter-spacing: 0.05em;
}
form :-ms-input-placeholder {
	color: $clr_border;
	letter-spacing: 0.05em;
}
form .placeholdersjs {
	color: $clr_border;
}
.checkboxes {
	margin-bottom: 9px;
	label {
		padding-left: 21px;
		position: relative;
		display: block;
		text-align: left;
		input {
			visibility: hidden;
			height: 0;
			width: 0;
			border: none;
			margin: 0;
		}
		&::after {
			content: "";
			position: absolute;
			top: 5px;
			left: 2px;
			height: 12px;
			width: 12px;
			border: 1px solid $clr_border;
			background-color: transparent;
			-webkit-transition: all .2s ease;
			transition: all .2s ease;
		}
		&.selected::after {
			background-color: $clr_pri1;
		}
	}
}
.select2.select2-container.select2-container--default {
	width: 100%!important;
	margin-bottom: 9px;
	.select2-selection--multiple {
		border: 1px solid $clr_pri1;
		border-radius: 0;
		background-color: $clr_tr_b_10;
		.select2-selection__choice {
			background-color: $clr_focus;
		}
	}
	&.select2-container--focus .select2-selection--multiple {
		background-color: $clr_focus;
	}
	.select2-results>.select2-results__options {
		background-color: $clr_btn_inv;
	}
}
.select2-container--default .select2-results>.select2-results__options {
	background-color: $clr_btn_inv;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	color: $clr_btn_inv;
}
.cleditorMain {
	width: 100%!important;
	margin-bottom: 9px;
}
.formButton {
	height: 40px;
	font: 400 16px/40px $fnt_body;
	letter-spacing: .05em;
	padding: 0 18px;
	width: auto;
	border: 1px solid $clr_pri1;
	background: $clr_pri1;
	color: $clr_btn_inv;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	margin: 0px auto 9px;
	&:hover {
		//border: 1px solid $clr_white;
		background: $clr_btn_inv;
		color: $clr_pri1;
		text-decoration: none;
	}
	&.disabled {
		border: 1px solid $clr_grey4;
		background: $clr_grey4;
		color: $clr_grey1;
		&:hover {
			border: 1px solid $clr_grey4;
			background: $clr_grey4;
			color: $clr_grey1;
		}
	}
}
.file-caption-main {
	.kv-fileinput-caption {
		width: 100%;
		height: 40px;
		box-sizing: border-box;
		vertical-align: top;
		border: 1px solid $clr_pri1;
		border-radius: 0;
		padding: 0 12px;
		background: $clr_tr_b_10;
		font: 700 16px/40px $fnt_body;
		letter-spacing: .025em;
		color: $clr_pri1;
		text-align: left;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
		margin-bottom: 9px;
		&.has-error {
			background: rgba(200,0,0,0.5);
		}
		&:focus {
			background: $clr_focus;
		}
		.file-caption-name {
			height: auto;
		}
	}
	.btn-file {
		height: 40px;
		font: 400 16px/40px $fnt_body;
		letter-spacing: .05em;
		padding: 0 18px;
		width: auto;
		border: 1px solid $clr_pri1;
		border-radius: 0;
		background: $clr_pri1;
		color: $clr_btn_inv;
		cursor: pointer;
		text-align: center;
		text-transform: uppercase;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
		margin: 0px auto 9px;
		&:hover {
			//border: 1px solid $clr_white;
			background: $clr_btn_inv;
			color: $clr_pri1;
		}
	}
}
.checkboxes .checkbox1 {
	min-height: 30px;
}
.input-group.date {
	width: 180px !important;
	input[type="text"] {
		width: 75%;
		display: inline-block;
	}
	.input-group-addon {
		display: inline-block;
		height: 40px;
		font: 400 16px/40px $fnt_body;
		letter-spacing: .05em;
		padding: 0 12px;
		width: auto;
		border: 1px solid $clr_pri1;
		border-radius: 0;
		background: $clr_pri1;
		color: $clr_btn_inv;
		cursor: pointer;
		text-align: center;
		text-transform: uppercase;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
		margin: 0px auto 9px;
		&:hover {
			//border: 1px solid $clr_white;
			background: $clr_btn_inv;
			color: $clr_pri1;
		}
	}
}


.page-form {
	margin-bottom: 24px;
}
#volunteer_form input[type="text"],
#volunteer_form input[type="tel"],
#volunteer_form input[type="email"] {
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
}
#volunteer_form textarea {

}
.radio-inline {
	position: relative;
	display: inline-block;
	padding-left: 36px;
	margin-bottom: 0;
	font-weight: 400;
	vertical-align: middle;
	cursor: pointer;
	input[type="radio"] {
		margin: -9px 0 0 -20px;
		position: absolute;
	}
}
.popup-modal {
	display: none;
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgb(0,0,0);
	background: $clr_tr_b_70;
	z-index: 3000;
}
.popup-form {
	display: none;
	position: fixed;
	top: 5vh;
	left: 50%;
	max-height: 90vh;
	overflow-y: auto;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	max-width: 600px;
	border: 2px solid $clr_pri1;
	background: $clr_sitebg;
	z-index: 3030;
	box-sizing: border-box;
	padding: 60px 48px;
	text-align: center;
	@media screen and (max-width: $brk_mobile_lg) {
		padding: 60px 24px;
	}
	@media screen and (max-width: 500px) {
		padding: 60px 6px;
	}
	.popup-form-close {
		position: absolute;
		top:12px;
		right:12px;
		cursor: pointer;
		height: 32px;
		width: 32px;
		font-size: 30px;
		line-height: 32px;
		color: $clr_border
	}
	.popup-form-logo {
		text-indent: -9999px;
		height: 65px;
		width: 450px;
		margin: 0 auto 24px;
		background-image: url($logo);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.popup-form-intro {
		border-top: 2px solid $clr_border;
		border-bottom: 2px solid $clr_border;
		padding: 12px 24px;
		margin: 0 24px 24px;
		@media screen and (max-width: $brk_mobile) {
			padding: 12px 6px;
			margin: 0 6px 24px;
		}
		.popup-form-title {
			font: 400 30px/42px $fnt_heading;
			color: $clr_pri1;
			margin-bottom: 12px;
			@media screen and (max-width: $brk_mobile) {
				font: 400 21px/30px $fnt_heading;
				margin-bottom: 6px;
			}
		}
		.popup-form-subtitle {
			font: 400 21px/27px $fnt_heading;
			color: $clr_text;
			@media screen and (max-width: $brk_mobile) {
				font: 400 18px/24px $fnt_heading;
			}
		}
	}
	.popup-form-pre-content {
		font: 400 15px/21px $fnt_body;
		color: $clr_text;
		padding: 12px 24px;
		margin: 0 24px 24px;
		@media screen and (max-width: $brk_mobile) {
			padding: 12px 6px;
			margin: 0 6px 24px;
		}
	}
	.popup-form-content {

	}
	.popup-form-extro {
		padding: 12px 24px;
		margin: 24px 24px 0;
		@media screen and (max-width: $brk_mobile) {
			padding: 12px 6px;
			margin: 24px 6px 0;
		}
	}
}

body.popup_email_ad {
	overflow: hidden;
	#emailAdModal, #emailAdForm {
		display: block;
	}
}
body.popup_email_ad_success {
	overflow: hidden;
	#emailAdSuccessModal, #emailAdSuccess {
		display: block;
	}
}
body.popup_form_success {
	overflow: hidden;
	#formSuccessModal, #formSuccessPopup {
		display: block;
	}
}
#registerForm {
	label.error {
		display: block;
		margin-top: -10px;
		margin-bottom: 10px;
		font-size: 12px;
		color: #a22;
	}
}

.note-editor.note-frame {
	border: none;
	border-radius: 0;
    background: transparent;
    box-shadow: none;
	.note-toolbar {
		background: transparent;
		&.panel-heading {
			border: none;
		}
		.note-btn-group {
			.note-btn {
				margin: 0px auto;
				padding: 6px 12px;
				height: auto;
				width: auto;
				font: 400 14px/21px $fnt_body;
				letter-spacing: 0em;
				cursor: pointer;
				text-align: center;
				text-transform: none;
				border: 1px solid $clr_border;
				border-right: none;
				background: transparent;
				color: $clr_pri1;
				-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
				&:last-of-type {
					border-right: 1px solid $clr_border;
				}
				&:hover {
					background: $clr_pri1;
					color: $clr_btn_inv;
					border-color: $clr_pri1;
				}
				i {
					font-size: 14px;
				}
			}
		}
	}
	.note-editing-area {
		border: 1px solid $clr_pri1;
		//background-color: $clr_white;
		.note-editable.panel-body {
			color: $clr_text;
			background-color: $clr_tr_b_10;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
			&:focus {
				background-color: $clr_focus;
			}
		}
	}
	.note-statusbar {
		background: transparent;
		.note-resizebar {

		}
	}
}
