/*----------------------------------------------------------------------------*/
/*	VENDOR
/*----------------------------------------------------------------------------*/
/*---------- Slick Slider ----------------------------------------------------*/
.slick-list {
	margin: 0 36px;
	overflow: visible;
	&.draggable {
		overflow: hidden;
	}
}
.slick-prev, .slick-next {
	cursor: pointer;
	background-color: $clr_feature;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	text-indent: -9999px;
	border: none;
	z-index: 20;
	&.slick-disabled {
		opacity: 0.6;
		cursor: auto;
	}
	&::after {
		font: 400 24px/20px $fnt_body;
		color: $clr_pri1;
		position: absolute;
		top: 53%;
		text-indent: 0;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
				transform: translateY(-50%);
	}
}
.slick-prev {
	left: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	   -moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
	&::after {
		content: '–';
		right: 12px;
	}
}
.slick-next {
	right: 0;
	-webkit-transform: translateX(+50%) translateY(-50%);
	   -moz-transform: translateX(+50%) translateY(-50%);
		-ms-transform: translateX(+50%) translateY(-50%);
			transform: translateX(+50%) translateY(-50%);
	&::after {
		content: '+';
		left: 12px;
	}
}


/*---------- Colorbox --------------------------------------------------------*/
/*
	Colorbox Core Style:
	The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0 !important; width:100% !important;  z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; margin:0 auto; float:none !important;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
	User Style:
	Change the following styles to modify the appearance of Colorbox.  They are
	ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity: 0.7 !important; filter: alpha(opacity = 70);}
#colorbox{outline:0;}
#cboxContent{background:$clr_white; overflow:hidden;border:10px solid $clr_grey10;}
.cboxIframe{background:$clr_white;}
#cboxError{padding:50px; border:1px solid $clr_grey4;}
#cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:$clr_grey5;}
#cboxCurrent{position:absolute; bottom:4px; left:58px; color:$clr_grey5;}
#cboxLoadingOverlay{background:url('/img/cbox-loading_background.png') no-repeat center center;}
#cboxLoadingGraphic{background:url('/img/cbox-loading.gif') no-repeat center center;}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; background:none; }
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:$clr_pri1;}
#cboxPrevious{position:absolute; top:50%; left:0; margin-top:-35px; padding:35px; background:url('/img/cbox-left-arrow.png') no-repeat center; width:35px; height:35px; text-indent:-9999px;}
#cboxNext{position:absolute; top:50%; right:0px; margin-top:-35px; padding:35px; background:url('/img/cbox-right-arrow.png') no-repeat center; width:35px; height:35px; text-indent:-9999px;}
#cboxClose{position:absolute; top:0; right:0; background:url('/img/cbox-close.png') no-repeat center; width:44px; height:43px; text-indent:-9999px;}
.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
#cboxOverlay, #cboxWrapper, #colorbox {
	position: absolute;
	top: 0;
	left: 0!important;
	width: 100%!important;
	z-index: 9999;
	overflow: hidden;
}
#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: $clr_black;
	opacity: .7!important;
	filter: alpha(opacity=70);
}
#cboxContent {
	overflow: hidden;
	border: 10px solid $clr_grey10;
	position: relative;
	margin: 0 auto;
	float: none!important;
}
#cboxClose, #cboxNext, #cboxPrevious, #cboxSlideshow {
	cursor: pointer;
	border: 0;
	padding: 0;
	margin: 0;
	overflow: visible;
	background: 0 0;
}
#cboxClose {
	position: absolute;
	top: 0;
	right: 0;
	background: url('/img/cbox-close.png') center no-repeat;
	width: 44px;
	height: 43px;
	text-indent: -9999px;
}
#cboxNext, #cboxPrevious {
	text-indent: -9999px;
	position: absolute;
	top: 50%;
	margin-top: -35px;
	padding: 35px;
	width: 35px;
	height: 35px;
}
#cboxPrevious {
	left: 0;
	background: url('/img/cbox-left-arrow.png') center no-repeat;
}
#cboxNext {
	right: 0;
	background: url('/img/cbox-right-arrow.png') center no-repeat;
}
#cboxLoadedContent iframe {
	width: 1px;
	min-width: 100%;
	min-height: 100%;
}
