/*----------------------------------------------------------------------------*/
/*	PRINT
/*----------------------------------------------------------------------------*/
body.page_print-detail {
	background: transparent !important;
	* {
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	p a, p a:visited {
		color: #444 !important;
		text-decoration: underline;
	}
	p a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr, img {
		page-break-inside: avoid;
	}
	@page {
		margin: 0.5cm;
	}
	p, h2, h3 {
		orphans: 3; widows: 3;
	}
	h2, h3{
		page-break-after: avoid;
	}
	.hide-on-print {
		display: none !important;
	}
	.print-only {
		display: block !important;
	}
	.rail-item-custom-wrap {
		margin: 0 0 12px;
	}
}
main.template-print {
	max-width: 600px;
	margin: 0 auto;
}
.slide_img_wrap_print {
	//height: 400px;
	width: 100%;
	img {
		height: auto;
		width: auto;
		max-width: 600px;
		max-height: 400px;
	}
}
